@import "variable";
@import "reset";
.effect_wrap {
  .effect_1 {
    width: 3rem;
    height: 3rem;
    border: 4px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
  }
  .effect_2 {
    left: 3%;
    bottom: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 4rem;
    animation: topBounce 3s ease-in-out infinite;
  }
  .effect_2 div {
    height: 3px;
    width: 3px;
    background-color: #ff9c07;
    margin: 0px 3px 8px;
  }
  .effect_3 {
    height: 180px;
    width: 180px;
    border: 25px solid $skin_color;
    top: -40%;
    left: 50%;
    border-radius: 50%;
    animation: leftBounce 3s ease-in-out infinite;
  }
  .effect_4 {
    border-top: 3rem solid transparent;
    border-left: 3rem solid #06d79c;
    left: 30%;
    top: 20%;
    animation: spin 15s linear infinite;
    &::before {
      content: "";
      border-top: 3rem solid transparent;
      border-left: 3rem solid #06d79c;
      opacity: 0.4;
      position: absolute;
      left: -3.5rem;
      top: -2.5rem;
    }
  }
  .effect_5 {
    height: 5rem;
    width: 5rem;
    top: 30%;
    right: 10%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
    div {
      width: 1px;
      background-color: #4dd0e1;
    }
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes topBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
@keyframes leftBounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}
