// Theme Color
$skin_color: #fb839e;
$color_2: #ec9412;
$color_3: #1fc586;
$color_4: #2eb1ed;
$color_5: #cc3a3b;

// Background and Text Color

$bg_black_900: #000000;
$bg_black_100: #dddddd;
$bg_black_50: #eff0f4;
$text_black_900: #000000;
$text_black_700: #555555;
$text_black_600: #666666;
$text_black_300: #bbbbbb;

// Box Shadow

$outer_shadow_3: 0.3rem 0.3rem 3px #d0d0d0, -0.3rem -0.3rem 0.3rem #f8f8f8;
$outer_shadow_0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
$inner_shadow: inset 0.3rem 0.3rem 3px #d0d0d0,
  inset -0.3rem -0.3rem 0.3rem #f8f8f8;
